.flex{
    display: flex;
}
.center{
    text-align: center;
}
.bg-grey{
    background-color: var(--st-primary-bg);
}
.text-deco-none{
    text-decoration: none;
}
.text-white{
    color: var(--st-white);
}
.text-green{
    color: var(--st-secondary);
}
.text-green-d{
    color: var(--st-secondary-dark);
}
.text-red{
    color: var(--st-mid-red);
}
.text-orange{
    color: var(--st-orange);
}
.text-yellow{
    color: var(--st-yellow);
}